<img align="center" src="https://raw.githubusercontent.com/FUlyankin/Parsers/master/images%20/cats.jpg" height="1200" width="1200"> 

# Семинар 2:  продолжаем врываться в python

Продолжаем аккуратно врываться в python и решать на нём различные задачки. __Наша цель на сегодня:__ 

* Повторить подвиг с запуском анакоды быстрее, чем за 20 минут...
* Немного вспомнить что мы делали в прошлый раз, а ещё в домашке
* Поработать с таблицами в pandas и поискать ответы на разные глупые вопросы

В качестве датасета мы будем использовать датасет по ... вашим страницам вконтакте. Ох! Сколько же всего интересного можно найти в этом датасете...

# 0. Разминка

Немного вспомним, чем именно мы занимались на предыдущем семинаре! 

<img src="https://steemitimages.com/0x0/https://media.makeameme.org/created/repeat-repeat-repeat-5984a6.jpg" height="350" width="350">

Начнём с разминочной задачки :) 

## Разминочная задачка

У Дори в глубинах океана есть кучка камней. Часть камней из этой кучки драгоценные. Недавно она пересчитала все драгоценные и забыла сколько их. Чтобы больше не забывать, Дори решила написать на питоне функцию, которая будет считать камни за неё.

Напишите на python функцию, которая принимает на вход список драгоценных камней $J$ и список камней, которые есть у Дори $S$. На выход функция возвращает число драгоценных камней в запасах Дори.

__Примеры:__ 

> Input: J = "aA", S = "aAAbbbb" <br />
Output: 3

Тут драгоценными считаются камни a и A. У Дори есть камни aAAbbbb. Среди них три драгоценных, aAA.

>Input: J = "z", S = "ZZ" <br />
Output: 0

Драгоценными мы считаем только камень z. У Дори два камня, оба обычные.

In [1]:
def numJewelsInStones(J, S):
    J = set(J)
    cn = 0
    for item in S:
        if item in J:
            cn += 1        
    return cn

In [2]:
J = "aA"
S = "aAAbbbb"

numJewelsInStones(J, S)

3

# 1. Пакеты

![](http://advaitaworld.com/uploads/images/00/13/28/2012/06/15/36a8a1.png)

Разработчики языка Python придерживаются определённой философии программирования, называемой «The Zen of Python» («Дзен Питона», или «Дзен Пайтона»). 

Её текст можно поспотреть с помощью комнды import this (работает один раз за сессию).

In [3]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

Команда import позволяет подгрузить не только философию, но и какой-нибудь пакет с какими-нибудь командами.

Попробуем подгрузить несколькими разными способами пакет math.

In [4]:
import math 
math.sqrt(4)

2.0

При таком способе загрузки обращение к каждой команде модуля делается через точку. В Python работает табуляция. Если написать название модуля, поставить точку, а после нажать Tab, то Jupyter Notebook подскажет какие ещё команды есть внутри модуля.

In [5]:
math.sin(20)

0.9129452507276277

Приведенный синтаксис может оказаться неудобным, если вам часто приходится вызывать какие-то математические функции. Чтобы не писать каждый раз слово «math», можно импортировать из модуля конкретные функции.

In [6]:
from math import sqrt

sqrt(4)

2.0

По аналогии можно импортировать из модуля абсолютно все функции, которые в нём есть с помощью команды *

In [7]:
from math import *
pi

3.141592653589793

Также можно подгрузить какой-нибудь модуль или пакет, но при этом изменить у него название на более короткое и пользоваться им.

In [8]:
import math as mh
mh.sqrt(4)

2.0

# 2. Все любят панд

Давайте подгрузим пакет для работы с таблицами, [pandas](http://pandas.pydata.org/) и попробуем немного поработать с данными, которые мы собрали о вас из социальных сеток. 

## 2.1 Смотрим на данные

In [2]:
import pandas as pd  # подгружаем пакет для работы с таблицами

По имени `pd` нам теперь доступна куча команд для работы с таблицами. Давайте подгрузим данные и посмотрим что лежит внутри нашей таблички. Делать это будем командой [pd.read_csv().](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html#pandas.read_csv)

Аргументов у нее очень много, критически важные:

 - **filepath_or_buffer** - текстовая строка с названием (адресом) файла
 - **sep** - разделитель между данными
 - **header** - номер строки, в которой в файле указаны названия столбцов, None, если нет
 - **names** - список с названиями колонок
 - **index_col** - или номер столбца, или список,  или ничего - названия строк

In [3]:
df = pd.read_csv('../data/vk_download/vk_main.csv', sep='\t')
df.head(7) # метод head выводит на экран первые 7 строк :)

,city,country,first_name,home_town,in_hse_memes_group,is_bmm,is_closed,last_name,likes_memes,uid,...,photo_month_mean,photo_repost_cnt,photo_repost_max,photo_repost_mean,photo_repost_median,photo_text_len_cnt,photo_ava_change_cnt,photo_text_url_len_cnt,friends_from_course_cnt,friends_mail_from_course_pct
0,Москва,Россия,Александра,Москва,True,True,False,Абашкова,60.0,182152789,...,1.333333,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,42.0,0.428571
1,Рязань,Россия,Анастасия,Рязань,True,True,False,Чуфистова,0.0,148020433,...,2.375000,2.0,1.0,0.105263,0.0,0.0,0.0,0.0,32.0,0.281250
2,Москва,Россия,Александр,Омск,False,True,False,Головачев,0.0,138413935,...,1.400000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,32.0,0.406250
3,NaN,NaN,Анна,NaN,False,True,False,Лобанова,0.0,366261055,...,4.166667,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,45.0,0.333333
4,NaN,Россия,Алексей,NaN,True,True,False,Пузырный,21.0,111252392,...,3.181818,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,41.0,0.341463
5,Москва,Россия,Александер,NaN,True,True,False,Гуляев,104.0,145109161,...,2.500000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,29.0,0.379310
6,Москва,Россия,Алина,NaN,True,True,False,Хабирова,6.0,140207230,...,1.200000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,31.0,0.225806

В табличке есть огромное количество самых разных переменных. Их названия довольно интуитивны. Будем разбираться с тем за что отвечает какая колонка по мере необходимости. Отметим только то, что все переменные разных типов. На основную информацию по ним можно посмотреть с помощью метода `.info()`. Напротив каждого названия столбца можно увидеть, сколько в нём заполненных ячеек. Например, у $328$ человек из $425$ (общее число строк) заполнен город проживания `city`.

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 425 entries, 0 to 424
Data columns (total 98 columns):
city                               328 non-null object
country                            364 non-null object
first_name                         425 non-null object
home_town                          112 non-null object
in_hse_memes_group                 425 non-null bool
is_bmm                             425 non-null bool
is_closed                          425 non-null bool
last_name                          425 non-null object
likes_memes                        384 non-null float64
uid                                425 non-null int64
male_dummy                         425 non-null int64
facebook_dummy                     425 non-null int64
instagram_dummy                    425 non-null int64
skype_dummy                        425 non-null int64
twitter_dummy                      425 non-null int64
home_phone_dummy                   425 non-null int64
mobile_phone_dummy                 425 non-null int64
site_dummy                         425 non-null int64
can_post_dummy                     425 non-null int64
can_see_all_posts_dummy            425 non-null int64
can_see_audio_dummy                425 non-null int64
can_write_private_message_dummy    425 non-null int64
has_mobile_dummy                   425 non-null int64
has_ava_dummy                      425 non-null int64
wall_comments_dummy                425 non-null int64
english_dummy                      425 non-null int64
folowers_cnt                       384 non-null float64
albums_cnt                         425 non-null float64
audio_cnt                          425 non-null float64
followers_cnt                      384 non-null float64
friends_cnt                        425 non-null float64
gifts_cnt                          167 non-null float64
groups_cnt                         68 non-null float64
photos_cnt                         384 non-null float64
subscriptions_cnt                  425 non-null float64
user_photos_cnt                    101 non-null float64
videos_cnt                         425 non-null float64
pages_cnt                          425 non-null float64
lang_cnt                           131 non-null float64
change_city_school_cnt             74 non-null float64
schools_cnt                        46 non-null object
relation_cat                       193 non-null object
alco_love_cat                      163 non-null float64
smoke_love_cat                     163 non-null float64
life_main_cat                      162 non-null object
people_main_cat                    163 non-null object
political_cat                      12 non-null object
private_prof_dummy                 425 non-null int64
wall_can_comment_dummy             343 non-null float64
wall_comment_cnt                   343 non-null float64
wall_comment_max                   343 non-null float64
wall_comment_mean                  343 non-null float64
wall_comment_median                343 non-null float64
wall_emoji_mean                    343 non-null float64
wall_emoji_median                  343 non-null float64
wall_emoji_cnt                     343 non-null float64
wall_emoji_max                     343 non-null float64
wall_like_cnt                      343 non-null float64
wall_like_max                      343 non-null float64
wall_like_mean                     343 non-null float64
wall_like_median                   343 non-null float64
wall_month_mean                    343 non-null float64
wall_post_android_cnt              343 non-null float64
wall_post_cnt                      343 non-null float64
wall_post_instagram_cnt            343 non-null float64
wall_post_ipad_cnt                 343 non-null float64
wall_post_iphone_cnt               343 non-null float64
wall_post_original_cnt             343 non-null float64
wall_post_other_cnt                343 non-null float64
wall_post_reply_cnt                343 non-null float64
wall_post_wphone_cnt               343 non-null float64
wall_repost_cnt                    343 non-null float64
wall_repost_group_cnt              343 non-null float64
wall_repost_max                    343 non-null float64
wall_repost_mean                   343 non-null float64
wall_repost_median                 343 non-null float64
wall_repost_user_cnt               343 non-null float64
wall_text_len_cnt                  343 non-null float64
wall_text_len_max                  343 non-null float64
wall_text_len_mean                 343 non-null float64
wall_text_len_median               343 non-null float64
wall_year_mean                     343 non-null float64
wall_emoji_trace                   205 non-null object
wall_text                          311 non-null object
photo_like_cnt                     376 non-null float64
photo_like_max                     376 non-null float64
photo_like_mean                    376 non-null float64
photo_like_median                  376 non-null float64
photo_month_mean                   376 non-null float64
photo_repost_cnt                   376 non-null float64
photo_repost_max                   376 non-null float64
photo_repost_mean                  376 non-null float64
photo_repost_median                376 non-null float64
photo_text_len_cnt                 376 non-null float64
photo_ava_change_cnt               376 non-null float64
photo_text_url_len_cnt             376 non-null float64
friends_from_course_cnt            384 non-null float64
friends_mail_from_course_pct       384 non-null float64
dtypes: bool(3), float64(65), int64(18), object(12)
memory usage: 316.8+ KB

Методов вроде `head()` и `info()` у табличек есть очень много. Давайте попробуем самые простые из них: 

### Задание 1:

- Выведите на экран первые 10 строк таблички 
- Выведите последние 5 строк таблички (метод `tail()`)
- Выведите строчки с 5 по 10
- Выясните сколько в таблице строк и столбцов (метод `shape`)
- Выведите на экран названия всех колонок таблицы (метод `columns`)

In [12]:
df.head(10)

,city,country,first_name,home_town,in_hse_memes_group,is_bmm,is_closed,last_name,likes_memes,uid,...,photo_month_mean,photo_repost_cnt,photo_repost_max,photo_repost_mean,photo_repost_median,photo_text_len_cnt,photo_ava_change_cnt,photo_text_url_len_cnt,friends_from_course_cnt,friends_mail_from_course_pct
0,Москва,Россия,Александра,Москва,True,True,False,Абашкова,60.0,182152789,...,1.333333,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,42.0,0.428571
1,Рязань,Россия,Анастасия,Рязань,True,True,False,Чуфистова,0.0,148020433,...,2.375000,2.0,1.0,0.105263,0.0,0.0,0.0,0.0,32.0,0.281250
2,Москва,Россия,Александр,Омск,False,True,False,Головачев,0.0,138413935,...,1.400000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,32.0,0.406250
3,NaN,NaN,Анна,NaN,False,True,False,Лобанова,0.0,366261055,...,4.166667,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,45.0,0.333333
4,NaN,Россия,Алексей,NaN,True,True,False,Пузырный,21.0,111252392,...,3.181818,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,41.0,0.341463
5,Москва,Россия,Александер,NaN,True,True,False,Гуляев,104.0,145109161,...,2.500000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,29.0,0.379310
6,Москва,Россия,Алина,NaN,True,True,False,Хабирова,6.0,140207230,...,1.200000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,31.0,0.225806
7,Краснодар,Россия,Алиса,NaN,True,True,False,Абрамова,6.0,226190631,...,3.750000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,32.0,0.250000
8,Москва,Россия,Anastasia,NaN,True,True,False,Biryukova,0.0,72089509,...,2.285714,2.0,1.0,0.125000,0.0,0.0,0.0,0.0,47.0,0.191489
9,Москва,Россия,Николай,NaN,True,True,True,Дементьев,NaN,409423465,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df.tail()

,city,country,first_name,home_town,in_hse_memes_group,is_bmm,is_closed,last_name,likes_memes,uid,...,photo_month_mean,photo_repost_cnt,photo_repost_max,photo_repost_mean,photo_repost_median,photo_text_len_cnt,photo_ava_change_cnt,photo_text_url_len_cnt,friends_from_course_cnt,friends_mail_from_course_pct
420,NaN,NaN,Юлия,NaN,True,False,False,Замятина,9.0,72929416,...,1.625000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,53.0,0.433962
421,Москва,Россия,Илья,NaN,True,False,False,Заикин,20.0,74324122,...,1.400000,1.0,1.0,0.071429,0.0,0.0,0.0,0.0,51.0,0.588235
422,Москва,Россия,Александр,NaN,True,False,False,Заривный,3.0,152277289,...,1.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,25.0,0.480000
423,Москва,Россия,Глеб,NaN,True,False,False,Игнатьев,108.0,115455288,...,2.857143,2.0,1.0,0.100000,0.0,0.0,0.0,0.0,12.0,0.666667
424,Москва,Россия,Злата,NaN,True,False,False,Зимина,6.0,357509100,...,1.285714,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,34.0,0.558824

In [14]:
df[5:10]

,city,country,first_name,home_town,in_hse_memes_group,is_bmm,is_closed,last_name,likes_memes,uid,...,photo_month_mean,photo_repost_cnt,photo_repost_max,photo_repost_mean,photo_repost_median,photo_text_len_cnt,photo_ava_change_cnt,photo_text_url_len_cnt,friends_from_course_cnt,friends_mail_from_course_pct
5,Москва,Россия,Александер,NaN,True,True,False,Гуляев,104.0,145109161,...,2.500000,0.0,0.0,0.000,0.0,0.0,0.0,0.0,29.0,0.379310
6,Москва,Россия,Алина,NaN,True,True,False,Хабирова,6.0,140207230,...,1.200000,0.0,0.0,0.000,0.0,0.0,0.0,0.0,31.0,0.225806
7,Краснодар,Россия,Алиса,NaN,True,True,False,Абрамова,6.0,226190631,...,3.750000,0.0,0.0,0.000,0.0,0.0,0.0,0.0,32.0,0.250000
8,Москва,Россия,Anastasia,NaN,True,True,False,Biryukova,0.0,72089509,...,2.285714,2.0,1.0,0.125,0.0,0.0,0.0,0.0,47.0,0.191489
9,Москва,Россия,Николай,NaN,True,True,True,Дементьев,NaN,409423465,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df.shape

(425, 98)

In [16]:
df.columns

Index(['city', 'country', 'first_name', 'home_town', 'in_hse_memes_group',
       'is_bmm', 'is_closed', 'last_name', 'likes_memes', 'uid', 'male_dummy',
       'facebook_dummy', 'instagram_dummy', 'skype_dummy', 'twitter_dummy',
       'home_phone_dummy', 'mobile_phone_dummy', 'site_dummy',
       'can_post_dummy', 'can_see_all_posts_dummy', 'can_see_audio_dummy',
       'can_write_private_message_dummy', 'has_mobile_dummy', 'has_ava_dummy',
       'wall_comments_dummy', 'english_dummy', 'folowers_cnt', 'albums_cnt',
       'audio_cnt', 'followers_cnt', 'friends_cnt', 'gifts_cnt', 'groups_cnt',
       'photos_cnt', 'subscriptions_cnt', 'user_photos_cnt', 'videos_cnt',
       'pages_cnt', 'lang_cnt', 'change_city_school_cnt', 'schools_cnt',
       'relation_cat', 'alco_love_cat', 'smoke_love_cat', 'life_main_cat',
       'people_main_cat', 'political_cat', 'private_prof_dummy',
       'wall_can_comment_dummy', 'wall_comment_cnt', 'wall_comment_max',
       'wall_comment_mean', 'wall_comment_median', 'wall_emoji_mean',
       'wall_emoji_median', 'wall_emoji_cnt', 'wall_emoji_max',
       'wall_like_cnt', 'wall_like_max', 'wall_like_mean', 'wall_like_median',
       'wall_month_mean', 'wall_post_android_cnt', 'wall_post_cnt',
       'wall_post_instagram_cnt', 'wall_post_ipad_cnt', 'wall_post_iphone_cnt',
       'wall_post_original_cnt', 'wall_post_other_cnt', 'wall_post_reply_cnt',
       'wall_post_wphone_cnt', 'wall_repost_cnt', 'wall_repost_group_cnt',
       'wall_repost_max', 'wall_repost_mean', 'wall_repost_median',
       'wall_repost_user_cnt', 'wall_text_len_cnt', 'wall_text_len_max',
       'wall_text_len_mean', 'wall_text_len_median', 'wall_year_mean',
       'wall_emoji_trace', 'wall_text', 'photo_like_cnt', 'photo_like_max',
       'photo_like_mean', 'photo_like_median', 'photo_month_mean',
       'photo_repost_cnt', 'photo_repost_max', 'photo_repost_mean',
       'photo_repost_median', 'photo_text_len_cnt', 'photo_ava_change_cnt',
       'photo_text_url_len_cnt', 'friends_from_course_cnt',
       'friends_mail_from_course_pct'],
      dtype='object')

----------

## 2.2 Базовые навыки по работе с табличками

Чтобы вытащить столбец, у нему нужно через квадратные скобки обратиться по имени. Чтобы посмотреть на первые $10$ строк, можно вместо `.head(10)` воспользоваться срезом `[:10]`.

In [17]:
df['first_name'][:10]

0    Александра
1     Анастасия
2     Александр
3          Анна
4       Алексей
5    Александер
6         Алина
7         Алиса
8     Anastasia
9       Николай
Name: first_name, dtype: object

Можно вытащить сразу несколько колонок и применить к ним какой-нибудь метод:

In [18]:
df[['first_name', 'last_name', 'city']].head()

   first_name  last_name    city
0  Александра   Абашкова  Москва
1   Анастасия  Чуфистова  Рязань
2   Александр  Головачев  Москва
3        Анна   Лобанова     NaN
4     Алексей   Пузырный     NaN

Можно создавать новые колонки. Например, мы можем взять все имена и фамилии, записать их через пробел и положить в новую колонку.

In [19]:
df['first_last_name'] = df['first_name'] + ' ' + df['last_name']
df.head()

,city,country,first_name,home_town,in_hse_memes_group,is_bmm,is_closed,last_name,likes_memes,uid,...,photo_repost_cnt,photo_repost_max,photo_repost_mean,photo_repost_median,photo_text_len_cnt,photo_ava_change_cnt,photo_text_url_len_cnt,friends_from_course_cnt,friends_mail_from_course_pct,first_last_name
0,Москва,Россия,Александра,Москва,True,True,False,Абашкова,60.0,182152789,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,42.0,0.428571,Александра Абашкова
1,Рязань,Россия,Анастасия,Рязань,True,True,False,Чуфистова,0.0,148020433,...,2.0,1.0,0.105263,0.0,0.0,0.0,0.0,32.0,0.281250,Анастасия Чуфистова
2,Москва,Россия,Александр,Омск,False,True,False,Головачев,0.0,138413935,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,32.0,0.406250,Александр Головачев
3,NaN,NaN,Анна,NaN,False,True,False,Лобанова,0.0,366261055,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,45.0,0.333333,Анна Лобанова
4,NaN,Россия,Алексей,NaN,True,True,False,Пузырный,21.0,111252392,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,41.0,0.341463,Алексей Пузырный

### Задание 2:

- Вытащите из таблички колону с городом (city), примените к ней метод, который оставит в колонке только уникальные названия городов, `.uniq()`
- Сколько всего городов есть в данных?

In [20]:
df['city'].unique() # метод возвращает обычный массив, к которому можно применять обычный питон

array(['Москва', 'Рязань', nan, 'Краснодар', 'Ташкент', 'Казань',
       'Кострома', 'Санкт-Петербург', 'Хабаровск', 'Пермь', 'Королёв',
       'Железнодорожный (Балашиха)', 'Каракол', 'Минск', 'Иркутск',
       'Химки', 'Нур-Султан / Астана', 'Abu Dhabi', 'Екатеринбург',
       'Заречный', 'Люберцы', 'Североморск', 'Якутск', 'Запорожье',
       'Владикавказ', 'Сочи', 'Красноярск', 'Нижний Новгород',
       'Ростов-на-Дону', 'Белгород', 'Самара', 'Тюмень', 'Cambridge',
       'Азов', 'Омск', 'Киров', 'Воронеж', 'Петропавловск-Камчатский',
       'Сергиев Посад', 'Birmingham', 'Кишинев', 'Budapest', 'Бишкек',
       'Владивосток', 'Новосибирск', 'Калуга', 'Benidorm', 'Vilamoura',
       'Пенза', 'Ярославль', 'Новомосковск', 'Москва (деревня)',
       'Грозный', 'Philadelphia', 'Новороссийск', 'Дубна'], dtype=object)

In [21]:
len(df['city'].unique()) # 56 городов

56

- Попробуйте вытащить ту же самую колонку и посчитать по ней как часто какой город встречается в данных, `.value_counts()`
- Выведите на экран $5$ самых популярных городов для жизни студентов первого курса

In [22]:
df['city'].value_counts().head()

Москва             253
Иркутск              4
Казань               3
Санкт-Петербург      3
Заречный             2
Name: city, dtype: int64

----------

Вот мы и добрались до самого главного. В pandas можно пытаться искать ответы на разные интересующие вас вопросы. Например, когда я смотрю на нашу табличку, у меня возникает вопрос:  

> Сколько девушек с именем отличающимся от "Аня" указали в профиле ссылку на свой инстаграм?

Нас интересуют только девушки. Информация о поле лежит в колонке `male_dummy`. Если перед нами девушка, в этой колонке будет написан $0$. Сравним все значения в этой колонке с нулём. Если внутри правда $0$, на экране будет True.

In [23]:
df['male_dummy'] == 0

0       True
1       True
2      False
3       True
4      False
       ...
420     True
421    False
422    False
423    False
424     True
Name: male_dummy, Length: 425, dtype: bool

Сделаем срез. Оставим в табличке только те строчки, где стоит True:

In [24]:
df[df['male_dummy'] == 0].head()

,city,country,first_name,home_town,in_hse_memes_group,is_bmm,is_closed,last_name,likes_memes,uid,...,photo_repost_cnt,photo_repost_max,photo_repost_mean,photo_repost_median,photo_text_len_cnt,photo_ava_change_cnt,photo_text_url_len_cnt,friends_from_course_cnt,friends_mail_from_course_pct,first_last_name
0,Москва,Россия,Александра,Москва,True,True,False,Абашкова,60.0,182152789,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,42.0,0.428571,Александра Абашкова
1,Рязань,Россия,Анастасия,Рязань,True,True,False,Чуфистова,0.0,148020433,...,2.0,1.0,0.105263,0.0,0.0,0.0,0.0,32.0,0.281250,Анастасия Чуфистова
3,NaN,NaN,Анна,NaN,False,True,False,Лобанова,0.0,366261055,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,45.0,0.333333,Анна Лобанова
6,Москва,Россия,Алина,NaN,True,True,False,Хабирова,6.0,140207230,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,31.0,0.225806,Алина Хабирова
7,Краснодар,Россия,Алиса,NaN,True,True,False,Абрамова,6.0,226190631,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,32.0,0.250000,Алиса Абрамова

Обратите внимание на номера строк. Видно, что $2$, $4$ и $5$ строчки были про мальчиков. Давайте теперь из этой, более маленькой таблички оставим только тех девушек, у которых есть инстаграм. Для этого нужен второй срез по колонке `instagram_dummy`. Если в ней стоит $1$, значит инстаграм есть.  Знак `&` между срезами говорит, что должны выполниться оба условия. Он читается как союз `и`.

Если мы хотим, чтобы выполнялось хотя бы одно из условий, можно использовать союз `или`, который обозначается значком `|`.

In [25]:
df[(df['male_dummy'] == 0) & (df['instagram_dummy'] == 1)].head()

,city,country,first_name,home_town,in_hse_memes_group,is_bmm,is_closed,last_name,likes_memes,uid,...,photo_repost_cnt,photo_repost_max,photo_repost_mean,photo_repost_median,photo_text_len_cnt,photo_ava_change_cnt,photo_text_url_len_cnt,friends_from_course_cnt,friends_mail_from_course_pct,first_last_name
0,Москва,Россия,Александра,Москва,True,True,False,Абашкова,60.0,182152789,...,0.0,0.0,0.000,0.0,0.0,0.0,0.0,42.0,0.428571,Александра Абашкова
8,Москва,Россия,Anastasia,NaN,True,True,False,Biryukova,0.0,72089509,...,2.0,1.0,0.125,0.0,0.0,0.0,0.0,47.0,0.191489,Anastasia Biryukova
10,Москва,Россия,Анастасия,NaN,True,True,False,Шлапак,92.0,200200185,...,0.0,0.0,0.000,0.0,0.0,0.0,0.0,24.0,0.333333,Анастасия Шлапак
14,Москва,Россия,Анна,NaN,True,True,False,Кизим,11.0,318022418,...,0.0,0.0,0.000,0.0,0.0,0.0,0.0,28.0,0.285714,Анна Кизим
16,Москва,Россия,Milana,NaN,False,True,False,Borukaeva,1.0,268125862,...,0.0,0.0,0.000,0.0,0.0,0.0,0.0,24.0,0.291667,Milana Borukaeva

Выбросили ещё больше строк. Осталось добавить срез на имена. Нам нужно, чтобы девушка была с именем отличающимся от "Аня". Значки `!=` отвечают за $\neq$.

In [26]:
df[(df['first_name'] != "Аня") & (df['first_name'] != "Анна")].head()

,city,country,first_name,home_town,in_hse_memes_group,is_bmm,is_closed,last_name,likes_memes,uid,...,photo_repost_cnt,photo_repost_max,photo_repost_mean,photo_repost_median,photo_text_len_cnt,photo_ava_change_cnt,photo_text_url_len_cnt,friends_from_course_cnt,friends_mail_from_course_pct,first_last_name
0,Москва,Россия,Александра,Москва,True,True,False,Абашкова,60.0,182152789,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,42.0,0.428571,Александра Абашкова
1,Рязань,Россия,Анастасия,Рязань,True,True,False,Чуфистова,0.0,148020433,...,2.0,1.0,0.105263,0.0,0.0,0.0,0.0,32.0,0.281250,Анастасия Чуфистова
2,Москва,Россия,Александр,Омск,False,True,False,Головачев,0.0,138413935,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,32.0,0.406250,Александр Головачев
4,NaN,Россия,Алексей,NaN,True,True,False,Пузырный,21.0,111252392,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,41.0,0.341463,Алексей Пузырный
5,Москва,Россия,Александер,NaN,True,True,False,Гуляев,104.0,145109161,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,29.0,0.379310,Александер Гуляев

Так мы вытащим табличку без Ань. Объединяем всё вместе.

In [27]:
# Можно аккуратно переносить строки кода в питоне для улучшения читаемости.
df[
    (df['instagram_dummy'] == 1)
    & (df['male_dummy'] == 0)
    & (df['first_name'] != "Аня") & (df['first_name'] != "Анна")
].head()

,city,country,first_name,home_town,in_hse_memes_group,is_bmm,is_closed,last_name,likes_memes,uid,...,photo_repost_cnt,photo_repost_max,photo_repost_mean,photo_repost_median,photo_text_len_cnt,photo_ava_change_cnt,photo_text_url_len_cnt,friends_from_course_cnt,friends_mail_from_course_pct,first_last_name
0,Москва,Россия,Александра,Москва,True,True,False,Абашкова,60.0,182152789,...,0.0,0.0,0.000,0.0,0.0,0.0,0.0,42.0,0.428571,Александра Абашкова
8,Москва,Россия,Anastasia,NaN,True,True,False,Biryukova,0.0,72089509,...,2.0,1.0,0.125,0.0,0.0,0.0,0.0,47.0,0.191489,Anastasia Biryukova
10,Москва,Россия,Анастасия,NaN,True,True,False,Шлапак,92.0,200200185,...,0.0,0.0,0.000,0.0,0.0,0.0,0.0,24.0,0.333333,Анастасия Шлапак
16,Москва,Россия,Milana,NaN,False,True,False,Borukaeva,1.0,268125862,...,0.0,0.0,0.000,0.0,0.0,0.0,0.0,24.0,0.291667,Milana Borukaeva
22,Кострома,Россия,Дарья,NaN,True,True,False,Малышева,6.0,135097769,...,0.0,0.0,0.000,0.0,0.0,0.0,0.0,11.0,0.272727,Дарья Малышева

Сами условия важно не забывать оборачивать в круглые скобки `()`, чтобы питон не запутался, что с чем сравнивается. Также они определяют порядок действий, как в математике.

То есть мы командой 

`(df['instagram_dummy'] == 1) & (df['male_dummy'] == 0) & (df['first_name'] != "Аня") & (df['first_name'] != "Анна")` 

говорим табличке: 

`(у них есть инстаграм) И (они девушки) И (их зовут НЕ аня) И (их зовут НЕ анна))` 

И на выход получаем маленькую подтаблицу, где __все__ эти условия выполнены.

__Важно__: если вы хотите вывести все строки в таблице, где столбец попадает в какой-то _диапазон_ значений, придётся написать $2$ условия на этот столбец (двойное неравенство не прокатит, увы). Например, выведем всех людей, у которых количество друзей, посещающих этот курс, от $100$ до $153$:

In [28]:
df[(df['friends_from_course_cnt'] > 100) & (df['friends_from_course_cnt'] < 153)].head()

,city,country,first_name,home_town,in_hse_memes_group,is_bmm,is_closed,last_name,likes_memes,uid,...,photo_repost_cnt,photo_repost_max,photo_repost_mean,photo_repost_median,photo_text_len_cnt,photo_ava_change_cnt,photo_text_url_len_cnt,friends_from_course_cnt,friends_mail_from_course_pct,first_last_name
116,NaN,NaN,Марго,NaN,True,True,False,Горлычева,65.0,294230568,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,125.0,0.376000,Марго Горлычева
216,Москва,Россия,Егор,Москва,True,False,False,Покидов,4.0,28862742,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,104.0,0.490385,Егор Покидов
358,Москва,Россия,Мария,NaN,True,False,False,Назарова,22.0,107770210,...,1.0,1.0,0.018868,0.0,0.0,0.0,0.0,106.0,0.490566,Мария Назарова
416,Москва,Россия,Янис,NaN,True,False,False,Ксенидис,5.0,166701060,...,1.0,1.0,0.045455,0.0,0.0,0.0,0.0,107.0,0.495327,Янис Ксенидис

## 2.3 Работа с пропусками 


Пропуски в данных возникают по разным причинам. Кто-то забыл измерить, записать или в принципе таких данных в природе не существовало. Когда мы будем учить алгоритмы машинного обучения, нам придётся все эти пропуски заполнять. 

Количество пропусков в данных можно узнать с помощью метода `.isnull()`

In [29]:
df.isnull().head() # возвращает True, если в ячейке пропуск, иначе --- False

,city,country,first_name,home_town,in_hse_memes_group,is_bmm,is_closed,last_name,likes_memes,uid,...,photo_repost_cnt,photo_repost_max,photo_repost_mean,photo_repost_median,photo_text_len_cnt,photo_ava_change_cnt,photo_text_url_len_cnt,friends_from_course_cnt,friends_mail_from_course_pct,first_last_name
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,True,True,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,True,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [30]:
df.isnull().sum()  # суммарное количество пропусков в каждом столбце

city                             97
country                          61
first_name                        0
home_town                       313
in_hse_memes_group                0
                               ...
photo_ava_change_cnt             49
photo_text_url_len_cnt           49
friends_from_course_cnt          41
friends_mail_from_course_pct     41
first_last_name                   0
Length: 99, dtype: int64

In [31]:
# отсортировали число пропусков по убыванию и вывели топ-10 
df.isnull().sum().sort_values(ascending=False).head(10)

political_cat             413
schools_cnt               379
groups_cnt                357
change_city_school_cnt    351
user_photos_cnt           324
home_town                 313
lang_cnt                  294
life_main_cat             263
alco_love_cat             262
smoke_love_cat            262
dtype: int64

Метод `.fillna(что-то)` позволяет заполнить пропуски чем-нибудь нейтральным. Например, посмотрим на колонку `city`. В ней сейчас есть пропуски.

In [32]:
df['city'].head()

0    Москва
1    Рязань
2    Москва
3       NaN
4       NaN
Name: city, dtype: object

Давайте заполним их значением "не указано".

In [33]:
df['city'] = df['city'].fillna('Не указано')
df['city'].head()

0        Москва
1        Рязань
2        Москва
3    Не указано
4    Не указано
Name: city, dtype: object

## 2.4 Поиск ответов на глупые вопросы 

Комбинируя все те знания, которые мы с вами добыли выше, можно искать ответы на разные вопросы.

### Задание 3

- Сколько студентов закрыли свой профиль (колонка `is_closed`)?

In [34]:
df[df['is_closed']].shape[0]

41

- Сколько всего в таблице студентов?

In [35]:
df.shape[0]

425

- Какая доля студентов закрыла профиль?

In [36]:
frac = df[df['is_closed']].shape[0]/df.shape[0]
print(f"Доля: {frac:.2%}")

Доля: 9.65%

- Сколько уникальных мужских имён встречается на первом курсе?

In [37]:
male_names = df.loc[df['male_dummy'] == 1, 'first_name'].unique()
male_names

array(['Александр', 'Алексей', 'Александер', 'Николай', 'Danial',
       'Данила', 'Владимир', 'Егор', 'Артём', 'Эдик', 'Георгий',
       'Марсель', 'Глеб', 'Кирилл', 'Данил', 'Рома', 'Никита', 'Артемий',
       'Юрий', 'Максим', 'Иван', 'Иоан', 'Миран', 'New', 'Телубай',
       'Zhao', 'Леонид', 'Роман', 'Даниил', 'Гоша', 'Ислам', 'Карим',
       'Борис', 'Dima', 'Матвей', 'Misha', 'Nikita', 'Нияз', 'Саша',
       'Rayskin', 'Дима', 'Михаил', 'Стёпа', 'Тимур', 'Ованнес', 'Давид',
       'Андрей', 'Антон', 'Тёма', 'Артур', 'Асельдар', 'Вадим', 'Ярослав',
       'Джанкат', 'Алик', 'Дмитрий', 'Ден', 'Ecclesiaste', 'Антанас',
       'Vanya', 'Павел', 'Олег', 'Григорий', 'Рамиз', 'Мурат', 'Артем',
       'Арам', 'Илья', 'Mihail', 'Радомир', 'Арсений', 'Нурали', 'Вова',
       'Ринат', 'Алмаз', 'Пётр', 'Руслан', 'Islam', 'Dominik', 'Иззат',
       'Рахимов', 'Asan', 'Maksim', 'Шерхан', 'Айдар', 'Виталий',
       'Савлат', 'Иннокентий', 'Кубрат', 'Коля', 'Акрам', 'Макс', 'Игорь',
       'Миша', 'Georgiy', 'Евгений', 'Найк', 'Сандрик', 'Plushie',
       'Альберт', 'Митек', 'Эдуард', 'Рустам', 'Аббос', 'Натан',
       'Владислав', 'Ваня', 'Янис', 'Паша'], dtype=object)

In [38]:
len(male_names)

109

- Выведите три самых популярных женских имени среди студентов

In [39]:
df[df['male_dummy'] == 0]['first_name'].value_counts().head(3)

Дарья        12
Анна         11
Анастасия     9
Name: first_name, dtype: int64

- Сколько в среднем лайков ставят под мемы девушки (колонка `likes_memes`)

In [40]:
df[df.male_dummy == 0]['likes_memes'].mean()

29.176190476190477

- Сколько суммарно лайков оставили студенты в группе с мемами?

In [41]:
df['likes_memes'].sum()

9388.0

- Сколько в среднем лайков приходится на одного человека, подписанного на группу (колонка `in_hse_memes_group`)

In [42]:
df[df['in_hse_memes_group'] == True]['likes_memes'].mean()

33.07636363636364

- Сколько лайков поставили люди, которые не подписаны на группу?

In [43]:
df[df['in_hse_memes_group'] != True]['likes_memes'].sum()

292.0

- Выведите на экран колонки, в которых нет ни одного пропуска.

In [44]:
nulls = df.isnull().sum()
nulls[nulls == 0].index

Index(['city', 'first_name', 'in_hse_memes_group', 'is_bmm', 'is_closed',
       'last_name', 'uid', 'male_dummy', 'facebook_dummy', 'instagram_dummy',
       'skype_dummy', 'twitter_dummy', 'home_phone_dummy',
       'mobile_phone_dummy', 'site_dummy', 'can_post_dummy',
       'can_see_all_posts_dummy', 'can_see_audio_dummy',
       'can_write_private_message_dummy', 'has_mobile_dummy', 'has_ava_dummy',
       'wall_comments_dummy', 'english_dummy', 'albums_cnt', 'audio_cnt',
       'friends_cnt', 'subscriptions_cnt', 'videos_cnt', 'pages_cnt',
       'private_prof_dummy', 'first_last_name'],
      dtype='object')

- Выведите на экран 3 случайных записей для пользователей, которые приехали в Москву (`home_town` - откуда приехали, `city` - где живут сейчас)

In [45]:
df[(df['home_town'] != 'Москва') & (df['city'] == 'Москва')].sample(3)

,city,country,first_name,home_town,in_hse_memes_group,is_bmm,is_closed,last_name,likes_memes,uid,...,photo_repost_cnt,photo_repost_max,photo_repost_mean,photo_repost_median,photo_text_len_cnt,photo_ava_change_cnt,photo_text_url_len_cnt,friends_from_course_cnt,friends_mail_from_course_pct,first_last_name
12,Москва,Россия,Анна,NaN,False,True,False,Билялова,1.0,202057474,...,1.0,1.0,0.017857,0.0,0.0,0.0,0.0,25.0,0.240000,Анна Билялова
155,Москва,Россия,Надежда,NaN,True,True,False,Адамчук,15.0,199291420,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,42.0,0.357143,Надежда Адамчук
264,Москва,Россия,Валерия,NaN,True,False,True,Дейвальд,NaN,213600184,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Валерия Дейвальд

- Среди двух полов найдите лидера по числу выложенных фоток (в колонке `photo_month_mean` среднемесячное кол-во фоток)

In [46]:
max_male   = df[df['male_dummy'] == 1]['photo_month_mean'].max()
max_female = df[df['male_dummy'] == 0]['photo_month_mean'].max()

query_filter = (
    (df['male_dummy'] == 0) & (df['photo_month_mean'] == max_female) |
    (df['male_dummy'] == 1) & (df['photo_month_mean'] == max_male)
)

df.loc[query_filter, ['first_name', 'last_name', 'photo_month_mean']]

    first_name   last_name  photo_month_mean
196       Алик    Атаханов        131.416667
214       Дуся  Шурмистова        151.833333

- Сейчас число лайков измеряется по шкале от $0$ до $1081$. В машинном обучении довольно часто возникает желание поменять у данных шкалу, в которой они измерены. Такая процедура называется скалированием. Давайте переведём лайки с отрезка $[0, 1081]$ на отрезок $[0, 1]$. Делать это будем по формуле: 

        x_new = (x-min)/(max-min)
    
        min = минимальный элемент в столбце
        max = максимальный элемент в столбце
        
Получившийся результат запишем в колонку `like_memes_scal`.

In [47]:
mx = df['likes_memes'].max()
mn = df['likes_memes'].min()

df['likes_memes_scal'] = (df['likes_memes'] - mn)/(mx - mn)
df['likes_memes_scal'].max()

1.0

На последок вот вам __пара панд.__ Ведь именно в честь них (на самом деле в честь panel data) назван пакет pandas.

![](http://www.hughlansdown.com/photos/wildlife/mammals/pair-of-red-pandas.jpg)